.synopsis {
    color: #7E8184; /* Light grey*/
    font-style: italic;
}
/* El punto antes de synopsis indica que el estilo que estamos indicando es para un class, no para
el documento en general*/

.synopsis em {
    font-style: normal;
}
/* Este es un descendant selector, donde permite cambiar un elemento que está dentro de otro elemento. En este caso, 
el <em> en el HTML está dentro de la clase de synopsis. Con este código de CSS, podemos cambiar el elemento en 
concreto sin alterar la synopsis. */

.button {
    color: #FFF;
    background-color: #5995DA; /*Blue*/
    font-weight: bold;
    padding: 20px;
    text-align: center;
    border: 2px solid #5D6063; /* Dark gray*/
    border-radius: 5px;

    width: 200px;
    margin: 20px auto;
}

.call-to-action {
    font-style: italic;
    background-color: #EEB75A; /* Yellow*/
}

.page {
    width: 600px;
    margin: 0 auto;
}