* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* los browsers suelen venir con un margin/padding base (default). Para poder resetear esto, se añade
    este código bajo el * */
}

h1, p {
    background-color: #DDE0E3; /*Light gray*/
}

em, strong {
    background-color: #B2D6FF; /* Light blue*/
    display: inline; /* This is the default for em and strong*/
}

h1 {
    padding: 50px;
     /* para indicar el border, primero se indica el stroke width, luego el style
    y después el color */
    border-bottom: 1px solid #5D6063;
    /*Si no sabemos bien cómo se va a ver lo que estamos haciendo, podemos añadir un
    border: 1px solid red;. Esto va a indicar las dimensiones de lo que estamos haciendo. Una vez 
    tengamos todo claro, simplemente borramos esa línea de código y listo */
}

/* p {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px;
}
Esto se puede escribir con un "shortcut", donde las dimensiones muestran lo vertical por lo horizontal.
Como por ejemplo...
p {
    padding: 20px 10px;   Vertical, horizontal
}
O por el contrario, si queremos poner en una línea de código 4 paddings diferentes al bloque, se pueden
poner los pixeles de cada uno en el sentido de las agujas del reloj, comenzando por arriba: ...*/
p {
    padding: 20px 0 20px 10px;  /*Top, right, bottom, left*/

    margin-top: 25px;
    margin-bottom: 50px; 
}

/* Los tres son formas diferentes de indicar el padding. Podemos usar el que prefiramos nosotros */

/* El padding y el margin son bastante similares, y en ocasiones es dificil saber cuál es mejor para usar.
Hay varios detalles a tener en cuenta:
- el padding de un box tiene fondo, mientras que los margins siempre son transparentes.
- El padding está incluido dentro de un área que permite hacer click, mientras que el margin no. */

div {
    color: #FFF;
    background-color: #5995DA;
    font-weight: bold;
    padding: 20px;
    text-align: center;
    border: 2px solid #5D6063;
    border-radius: 5px;

    width: 200px;
    box-sizing: border-box; /* best practice for all boxes */
    margin: 20px auto; /* vertical horizontal*/ /*esto solo funciona cuando tenemos un width definido.*/
}

body {
    text-align: center;
}