body {
    color: #414141; /*Dark gray*/
    background-color: #EEEEEE; /*Light gray*/
    /*Para la letra y el fondo, es recomendable utilizar tonalidades del gris a usar blanco y negro (es un 
    contraste muy grande). Es más suave para la vista del lector.*/
    font-size: 18px;
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 1.6em;
}
/*Hay dos tipos de medidas en CSS que se usan habitualmente: pixels (px) y em. En este ejemplo, indicamos
que queremos que la tipografía del body tenga 18px. Al añadir 2em en el h1, indicamos que queremos que 
el título h1 sea dos veces más grande que el font del body. De la misma manera, el h2 debe ser 1.6 veces
más grande que el font size. IF the user ever wanted to make the base font bigger or smaller, em units 
would allow our entire page to scale accordingly.*/

h1, h2, h3, h4, h5, h6 {
    font-family: "Helvetica", "Arial", sans-serif;
    font-weight: normal;
}

ul {
    list-style-type: circle;
}

ol {
    list-style-type: lower-roman;
}

a {
    text-decoration: none;
}

p {
    text-align: left;
}

/* Este es un external stylesheet. Esto significa que todo lo que hemos añadido aquí se va a
añadir a la web entera. Si queremos que afecte solo a una página en concreto, los page-specific
styles, deberemos añadir el css en el head de la página pues es metadata y no contenido como tal.

Es recomendable, para evitar complicaciones en el código más adelante, tener todo el CSS en un 
documento separado. Se pueden tener diferentes documentos .css con estilos diferentes para páginas diferentes,
por ejemplo, si queremos tener un estilo concreto para un blog o para una página de productos.*/

/* Al añadir el <link/> en una página html para conectarla con los documentos de diseño de CSS, es
importante tener en cuenta el orden en el que se añade. Es decir, si queremos hacer cambios más especificos, 
como por ejemplo, que nuestro blog tenga un estilo diferente, es importante primero poner el <link/>
al que actúa como base o es el estilo default de nuestra web, y después el .css específico para el blog. 
Al poner este segundo más tarde, sirve como suplemento de diseño a la base. Ayuda a su vez a evitar utilizar
page-specific styles e inline styles. */